#nav-container {
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  height: 110vh;
  margin: auto;
  z-index: 500;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: $white;
  @include box-shadow;

  .x-icon-container {
    position: absolute;
    top: 40px;
    right: 5%;
  }

  &.up {
    transition: top 1s ease 0s;
    top: -105vh;

    .logo {
      transition: all 1s ease 0s;
      transform: translateY(0vh);
    }
  }

  &.down {
    transition: top 1s ease 0s;
    top: 0vh;
    overflow-x: hidden; 
    overflow-y: auto;

    .down-chevron-icon {
      transition: all 1s ease 0s;
      transform: rotate(180deg);
    }

    .logo {
      transition: all 1s ease 0s;
      transform: translateY(-103vh);
    }
  }

  .nav-content {
    width: inherit;
    padding-bottom: 10em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .nav-create-snippet-form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .create-message {
        font-size: 1.2em;
        font-weight: 400;
        margin-bottom: 1em;
      }
    }

    .nav-base-bar-container {
      box-sizing: border-box;
      position: absolute;
      bottom: 0;
      height: 45px;
      
      width: inherit;
      display: flex;
      flex-direction: column;

      // on hover, tab slides down
      &:hover .nav-base-tab-container{
        @include box-shadow-bottom;
        animation: slide-in-top 0.5s both;
        @keyframes slide-in-top {
          0% {
            transform: translateY(-100px);
          }
          100% {
            transform: translateY(0);
          }
        }

        // chevron fades in
        .down-chevron-icon {
          animation: fade-in 0.3s both;
          @keyframes fade-in {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }
      }
      
      .nav-base-bar-content {
        width: 90%;
        margin: auto;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .nav-base-bar-left {
          display: flex;
          justify-content: center;
          align-items: center;
          
          .logo {
          }
        }

        .nav-base-bar-right {
          display: flex;
          align-items: center;

          div.search-container {
            margin-right: 3em;

            @include flex-centered;
            flex-direction: row;
            border: 1px solid $light-shadow;
            background-color: $wisp;
            
            #search {
              box-sizing: border-box;
              height: 2em;
              width: 10em;
              margin: 0.25em 1em;

              font-family: $sans-serif;
              
              &::placeholder {
                font-weight: 300;
              }
            }

            button.search-btn {
              margin: 0.25em 1em;
              // background-color: $light-shadow;
            }
          }

          .icon-wrap:hover > .nav-dropdown-container {
            @include box-shadow-bottom;
            position: absolute;
            top: 40px;
            right: 1.5%;
            z-index: 600;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            overflow: hidden;

            .nav-dropdown-top-pad {
              height: 16px;
            }

            button {
              @include button-basic;
            } 
          }

          .nav-dropdown-container {
            display: none;
          }
        }
      }

      .nav-base-tab-container {
        position: absolute;
        left: calc(50% - 100px);
        top: 45px;
        
        box-sizing: border-box;
        width: 200px;
        margin: auto;
        padding: 0.6em 4em 0.6em 4em;
        
        display: flex;
        justify-content: center;

        opacity: 100;
        background-color: $white;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;

        // make sure tab is at correct y index
        transform: translateY(-100px);

        // sucks up tab when not hovered
        animation: slide-out-top 0.5s both;
        @keyframes slide-out-top {
          0% {
            transform: translateY(0px);
          }
          100% {
            transform: translateY(-100);
            opacity: 0;
          }
        }
        
        // fades out chevron
        .down-chevron-icon {
          opacity: 0;
        }
      }
    }
  }
  
}