#login-form-container, #signup-form-container {
  height: 100vh;
  width: 100vw;
  background-color:$milk;
  z-index: 999;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  button {
    @include button-black;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 300px;
    padding: 2em;

    background-color: $white;
    border: 0.5px solid $black;
    border-radius: 5px;

    input {
      width: 100%;
      @include form-text-input;
      margin-bottom: 1em;
    }
  }
}

