.snippet-show-card-container {
  $one-em: 16px;
  $dimension: 600px +( $one-em );
  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  
  height: $dimension;
  width: $dimension;
  
  grid-column: span 2;
  grid-row: span 2;

  p {
    font-size: 0.8em;
  }

  .snippet-show-card {
    box-sizing: border-box;
    height: inherit;
    width: inherit;
    padding: 1em;
  }

  .snippet-display-container {
    margin: 0 -0.5em;
  }

  .snippet-show-info-container {
    height: 25%;
    width: 100%;
    padding: 1em;
    
    box-sizing: border-box;

    .snippet-show-info-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      padding-bottom: 0.5em;

      .snippet-show-info-left {
  
        padding-bottom: 0.5em;

        h4 {
          font-size: 1em;
        }
        p {
          font-weight: 400;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
  
      .snippet-show-info-right {
        text-align: right;

        text-overflow: ellipsis;
        overflow: hidden;
        // white-space: nowrap;
      }
    }
  }

  ul.comment-display {
    box-sizing: border-box;
    overflow-y: scroll;

    width: inherit - 2em;
    max-height: 140px;
    padding: 0.5em 1em;

    display: flex;    
    flex-direction: column;

    li {
      width: inherit;
      padding: 0.3em 0;

      display: flex;
      justify-content: center;
      align-items: center;
      
      font-family: $sans-serif;
      border-bottom: 1px solid $light-shadow;

      &.editable {
        p.comment-body {
          color: $link;
        }

        &:hover {
          cursor: pointer;
        }
      }

      &.owned:hover {
        background-color: $ivory;
      }

      &:not(.editable) .x-icon{
        display: none;
      }

      &.comment-list-item-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .owner-name {
          font-weight: 400;
          padding-right: 0.5em;
        }

        .comment-list-item {
          display: flex;
          flex-direction: row;
          width: 100%;
          box-sizing: border-box;

          &:hover {
            cursor: default;
          }

          div.user-icon {
            height: 18px;
            width: 18px;
            overflow: hidden;
            margin-right: 0.5em;
            border-radius: 2px;

            img.comment-profile-image {
              max-width: 18px;

              &:hover {
                cursor: pointer;
              }
            }
          }

          div.user-info {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-start;

            }
        }

        div.comment-container {
          width: inherit;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          p.comment-body {
            box-sizing: border-box;
            margin-right: 1em;
            max-width: 500px;
          }
  
          button.delete-comment-btn {
  
            .x-icon {
              height: 12px;
            }
          }
        }
      }
    }

    form.comment-form {
      box-sizing: border-box;

      width: inherit;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      label {
        width: inherit;
      }

      input {
        font-family: $sans-serif;
        font-weight: 300;
        
        &[type='text'] {
          width: 100%;
          margin-right: 1em;
        }
        
        &[type='submit'] {
          font-weight: 300;
          
          &:hover {
            cursor: pointer;
          }
        }
      }
      
      button {
        margin-left: 0.5em;
      }

    }
  }

  .snippet-show-comment-form-container {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em 1em;

    form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: inherit;

      input {
        @include form-text-input;
        width: 100%;

        &[type='submit'] {
          width: 40px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}