.snippet-form-container {
  width: 600px;
  
  form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 2em 0em;
    
    
    input {
      @include form-text-input
      
      // &[type='checkbox'] {
        
      // }
    }

    label {
      margin-top: 1em;
      font-family: $sans-serif;
    }

    button {
      @include button-black;
    }
  }
}