.snippet-form-container {
  width: 600px;
  
  form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 2em 0em;
    
    
    input {
      box-sizing: border-box;
      padding: 1em 0 0.3em 0;
      
      font-family: $sans-serif;
      font-weight: 300;
      border-bottom: 1px solid transparent;

      &[type^='text'] {
        transition: all 0.5s ease 0s;

        &:hover {
          border-bottom: 1px solid $shadow;
        }

        &::placeholder {
          color: $black;
        }
        
        &:focus::placeholder {
          color: $shadow;
        }

        &:focus::placeholder:not(:hover) {
          color: $shadow;
          border-bottom: 1px solid $shadow;
        }
      }
      
      // &[type='checkbox'] {
        
      // }
    }

    label {
      margin-top: 1em;
      font-family: $sans-serif;
    }

    button {
      align-self: center;
      transition: all 0.2s ease 0s;
      
      @include button-basic;
      color: $white;
      background-color: $black;
      border-radius: 5px;
      width: 20em;

      &:hover {
        color: $white;
        background-color: $black;
        text-decoration: none;
        filter: drop-shadow(0 3px 5px  $shadow);
      }
    }
  }
}