.snippet-show-card-container {
  $one-em: 16px;
  $dimension: 600px +( $one-em );
  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $white;
  
  height: $dimension;
  width: $dimension;
  
  grid-column: span 2;
  grid-row: span 2;

  p {
    font-size: 0.8em;
  }

  .snippet-display-container {
    margin: auto;
  }

  .snippet-show-info-container {
    height: 25%;
    width: 100%;
    padding: 1em;
    
    box-sizing: border-box;

    .snippet-show-info-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      padding-bottom: 0.5em;

      .snippet-show-info-left {
  
        padding-bottom: 0.5em;

        h4 {
          font-size: 1em;
        }
        p {
          font-weight: 400;
        }
      }
  
      .snippet-show-info-right {
        text-align: right;

        text-overflow: ellipsis;
        overflow: hidden;
        // white-space: nowrap;
      }
    }
  }

  ul.comment-display {
    box-sizing: border-box;
    overflow-y: scroll;

    width: inherit;
    max-height: 160px;
    padding: 0.5em 1em;

    display: flex;    
    flex-direction: column;

    li {
      width: inherit;
      padding: 0.3em 0;

      display: flex;
      justify-content: center;
      align-items: center;
      
      font-family: $sans-serif;
      border-bottom: 1px solid $light-shadow;

      &.owned:hover {
        background-color: $ivory;
      }

      &.comment-list-item-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .owner-name {
          font-weight: 400;
          padding-right: 0.5em;
        }

        .comment-list-item {
          display: flex;
          flex-direction: row;
          width: 100%;
  
          .user-icon {
            height: 18px;
            width: 18px;
            margin-right: 0.5em;
            background-color: $shadow;

            .comment-profile-image{
              height: 18px;
              width: 18px;
            }

          }

        }

        .x-icon {
          height: 12px;
        }
      }
    }

    form.comment-form {
      box-sizing: border-box;

      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      input {
        font-family: $sans-serif;
        font-weight: 400;

        &[type='text'] {
          width: 500px;
        }
        
        &[type='submit'] {
          font-weight: 300;
          
          &:hover {
            cursor: pointer;
          }
        }
      }
      
      button {
        margin-left: 0.5em;
      }

    }
  }

  .snippet-show-comment-form-container {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em 1em;

    // border: 1px solid black;
    form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: inherit;

      input {
        @include form-text-input;
        width: 100%;

        &[type='submit'] {
          width: 40px;

          &:hover {
            cursor: pointer;
          }
        }
      }

    }
  }
}