$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$shadow: rgba(0, 0, 0, 0.24);
$light-shadow: rgba(0, 0, 0, 0.082);

$ivory: rgb(255, 251, 246);
$milk: rgba(255, 255, 255, 0.849);
$red: rgb(253, 47, 47);
$purple: rgb(238, 98, 180);
$blue: rgb(56, 194, 216);
$link: rgb(31, 82, 163);

