//       COLORS
@mixin rainbow-border {
  border-image: linear-gradient(to bottom right, $red 0%, $purple 50%,  $blue 100%);
  border-image-slice: 1;
}

@mixin rainbow-text {
  background: linear-gradient(to right, $red 0%, $purple 50%,  $blue 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin rainbow-bg {
  background: linear-gradient(to right, $red 0%, $purple 50%,  $blue 100%);
}

@mixin rainbow-bg-ani {
  background: linear-gradient(90deg, $red, $purple, $blue);
  background-size: 500% 500%;

  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}

//          BUTTONS

@mixin button-basic {
  text-transform: uppercase;
  padding: 1em 5em;

  background-color: $white;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: $white;
    color: $link;
  }
}

@mixin button-black {
  align-self: center;
  transition: all 0.2s ease 0s;
  
  text-transform: uppercase;
  padding: 1em 5em;

  color: $white;
  background-color: $black;
  border-radius: 5px;
  width: 20em;

  &:hover {
    cursor: pointer;
    color: $white;
    background-color: $black;
    text-decoration: none;
    filter: drop-shadow(0 3px 5px  $shadow);
  }
}

//       FORM STYLES

@mixin form-text-input {
  box-sizing: border-box;
  padding: 1em 0 0.3em 0;
  
  font-family: $sans-serif;
  font-weight: 300;
  border-bottom: 1px solid transparent;

  &[type^='text'], &[type='password'] {
    transition: all 0.5s ease 0s;

    &:hover {
      border-bottom: 1px solid $shadow;
    }

    &::placeholder {
      color: $black;
    }
    
    &:focus::placeholder {
      color: $shadow;
    }

    &:focus::placeholder:not(:hover) {
      color: $shadow;
      border-bottom: 1px solid $shadow;
    }
  }
}

//     POSITIONING

@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

//     BASICS

@mixin box-shadow {
  box-shadow: 0px 3px 5px $shadow;
}

